@media (max-width: 1315px) {
  .header-wraper {
    margin: 0 20px;
  }
  .main-text-hi,
  .main-descr {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (max-width: 1225px) {
  .header-block {
    height: auto;
    padding: 16px;
  }
  .nav-ul {
    max-width: 100%;
  }
  .li {
    padding: 12px;
  }
  .sign-btn,
  .join-btn {
    padding: 12px 20px;
  }
}

@media (max-width: 1024px) {
  .li {
    font-size: 16px;
    padding: 8px;
  }
  button {
    font-size: 16px;
  }
  .header-wraper {
    margin: 0 10px;
  }
  .sign-btn,
  .join-btn {
    padding: 10px 16px;
  }
  .logo {
    width: 130px;
  }
  .text-on-video h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .word-slider {
    font-size: 16px;
    line-height: 28px;
    justify-content: flex-start;
    gap: 10px;
  }
  .slide-word {
    font-size: 16px;
    line-height: 28px;
  }
  .text-on-video {
    width: 721px;
  }
}

@media (max-width: 780px) {
  .logo {
    width: 100%;
  }
  .navbar {
    display: none;
  }
  .burger-bar {
    display: flex;
  }
  .text-on-video {
    max-width: 721px;
    width: 100%;
    padding: 0px 30px;
  }
  .text-on-video h2 {
    max-width: 655px;
    width: 100%;
  }
  .word-slider {
    max-width: 655px;
    width: 100%;
  }

  .main-text-wraper {
    padding-bottom: 100px;
    padding-left: 80px;
    padding-right: 110px;
    max-width: 1279px;
    width: 100%;
  }
}

@media (max-width: 575px) {
  .header-block {
    background-color: transparent;
  }
  .text-on-video {
    display: flex;
    flex-direction: column;
    position: static;
    padding: 16px 0px;
  }
  .desktop-video {
    overflow: visible;
  }
  .desktop-video video {
    border-radius: 24px;
  }
  .div-with-gradient {
    background: radial-gradient(circle at 50% 50%, #3c008b, transparent 100%),
      radial-gradient(circle at 50% 50%, #111112, #111112 100%);
    padding-bottom: 16px;
    height: 929px;
    align-items: flex-start;
  }
  .text-on-video h2 {
    font-size: 34px;
    line-height: 40px;
  }
  .early-access {
    margin: 24px 24px;
  }
  .brands__preWrapper {
    margin-top: 2rem;
    height: 4.5rem;
  }

  .brands__wrapper {
    margin-top: 2rem;
    height: 4.5rem;
  }
  .brands__wrapper > a img {
    max-height: 4.5rem;
  }
  .word-slider {
    gap: 1px;
  }

  .main-text-wraper {
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 70px;
    max-width: 1279px;
    width: 100%;
  }
  .main-text-hi,
  .main-descr {
    font-size: 16px;
    line-height: 20px;
  }
}
