@media (max-width: 1315px) {
  .header-wraper {
    margin: 0 20px;
  }
}
@media (max-width: 1225px) {
  .header-block {
    height: auto;
    padding: 16px;
  }
  .nav-ul {
    max-width: 100%;
  }
  .li {
    padding: 12px;
  }
  .sign-btn,
  .join-btn {
    padding: 12px 20px;
  }
}

@media (max-width: 1024px) {
  .li {
    font-size: 16px;
    padding: 8px;
  }
  button {
    font-size: 16px;
  }
  .header-wraper {
    margin: 0 10px;
  }
  .sign-btn,
  .join-btn {
    padding: 10px 16px;
  }
  .logo {
    width: 130px;
  }
}
@media (max-width: 780px) {
  .logo {
    width: 100%;
  }
  .navbar {
    display: none;
  }
  .burger-bar {
    display: flex;
  }
}
