/* body styles */
body {
  background-color: #111112;
  color: #ffffff;
}

/* header styles */
.burger-bar {
  display: none;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  margin: 0 103px;
}
.header-block {
  height: 100px;
  padding: 24px 12px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(17, 17, 18, 0.8);
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  max-width: 700px;
  height: 52px;
  align-items: center;
}

.li {
  width: 130px;
  padding: 16px 24px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -1%;
  color: #f2f4ff;
  transition: background-color 0.3s ease, border-radius 0.1s ease;
}
.li:hover {
  background-color: rgba(204, 212, 255, 0.05);
  border-radius: 16px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -1%;
  color: #f2f4ff;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.sign-btn {
  border: 2px solid rgba(204, 212, 255, 0.11);
  padding: 16px 24px;
  border-radius: 16px;
  margin: 0px 4px;
}
.sign-btn:hover {
  background-color: rgba(204, 212, 255, 0.05);
  border-radius: 16px;
}
.join-btn {
  background: #00ff40;
  border-radius: 16px;
  color: rgba(17, 17, 18, 1);
  padding: 16px 24px;
  margin-left: 4px;
}
.join-btn:hover {
  box-shadow: 0px 0px 20px rgba(0, 255, 64, 0.5);
}
.header-btns {
  display: flex;
}
.burger-bar {
  cursor: pointer;
  border: 1px solid rgba(204, 213, 255, 0.11) !important;
  border-radius: 12px;
  padding: 0.55rem 1rem;
  font-size: 1.65rem;
  line-height: 1;
  background-color: transparent;
}
.logo {
  width: 100%;
}

/* video block styles */
.div-with-gradient {
  background: radial-gradient(circle at 15% 20%, #3c008b, transparent 39%),
    radial-gradient(circle at 85.57% 43.37%, #3c008b, transparent 39%),
    radial-gradient(circle at 50% 50%, #111112, #111112 100%);
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  position: relative;
}
.desktop-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.desktop-video {
  border-radius: 24px;
  overflow: hidden;
  position: absolute;
  max-width: 1296px;
  width: 95%;
  height: 592px;
}
.text-on-video {
  position: absolute;
  top: 100px;
  left: 0;
  width: 773px;
  color: #fff;
  padding: 0px 63px;
}
.text-on-video h2 {
  margin-bottom: 24px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.01em;
  font-weight: 600;
  width: 655px;
}
.early-access {
  margin-top: 62px;
}

/* word slider */

.word-slider {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Space Grotesk", sans-serif;
  width: 655px;
  font-size: 21px;
  line-height: 32px;
}
.word-title {
  color: rgba(230, 234, 255, 0.6);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.slider-on-video {
  height: 30px;
  overflow: hidden;
  vertical-align: middle;
  border-bottom: 3px solid white;

  mask-image: linear-gradient(transparent, white, white, white, transparent);
  mask-type: luminance;
  mask-mode: alpha;
}
.slide-words {
  animation-name: wordSlider;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-duration: 14s;
}

.slide-word {
  text-align: center;
  font-size: 21px;
}

@keyframes wordSlider {
  0%,
  10% {
    transform: translateY(-0%);
  }
  15%,
  25% {
    transform: translateY(-15%);
  }
  30%,
  40% {
    transform: translateY(-30%);
  }
  45%,
  55% {
    transform: translateY(-45%);
  }
  60%,
  70% {
    transform: translateY(-60%);
  }
  75%,
  85% {
    transform: translateY(-75%);
  }
  90%,
  100% {
    transform: translateY(-75%);
  }
  100% {
    transform: translateY(-90%);
  }
}

/* brands slider */

.container {
  max-width: 1296px;
  width: 95%;
  margin: 0 auto;
  height: 108px;
}

/* Brand logo slider */
.brands {
  position: relative;
  overflow: hidden;
  height: 8.5rem;
}

.brands:hover .brands__wrapper,
.brands:hover .brands__preWrapper {
  animation-play-state: paused;
}

.brands__preWrapper {
  position: relative;
  width: 100%;
  height: 8.5rem;
  transform: translateX(0%);
  animation: scroll1 10s linear infinite;
  animation-delay: 4s;
  animation-direction: alternate;
  margin: 1rem;

  will-change: transform;
}

.brands__wrapper {
  position: absolute;
  white-space: nowrap;
  transform: translateX(0%) translateZ(0);
  animation: scroll2 10s linear infinite;
  animation-delay: 4s;
  animation-direction: alternate;

  will-change: transform;
}

.brands__wrapper > a,
.brands__wrapper > img {
  position: relative;
  display: inline-block;
  margin: 1rem;
  vertical-align: middle;
}

.brands__wrapper > a img {
  max-width: 15rem;
  max-height: 8.5rem;
}

@keyframes scroll1 {
  0% {
    transform: translateX(-0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0%) translateZ(0);
  }
  100% {
    transform: translateX(-100%) translateZ(0);
  }
}

/* main text section */
.emoji {
  width: 1em;
  height: 1em;
}
.main-text-hi {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  font-size: 44px;
  text-align: left;
}
.main-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
  flex-direction: column;
}
.main-descr {
  font-style: normal;
  font-family: "Space Grotesk", sans-serif;
  font-size: 32px;
  color: rgba(229, 234, 255, 0.6);
  line-height: 1.2;
}
.main-text-wrapper {
  padding-bottom: 144px;
  padding-left: 80px;
  padding-right: 210px;
  max-width: 1279px;
  width: 100%;
}

/* footer styles */
.footer-main {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-wrapper {
  background-color: #ccd4ff0d;
  max-width: 1296px;
  width: 95%;
  height: 362px;
  border-radius: 24px;
  padding: 66px 80px 82px;
  color: #e5eaff99;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  line-height: 32px;
  font-size: 16px;
}
.footer-logo {
  display: flex;
  justify-content: space-between;
}
.copyright {
  width: 140px;
  height: 32px;
}
.logo-img {
  width: 134px;
}
.logo-small {
  width: 100%;
}
.link-box {
  display: flex;
  justify-content: space-between;
  padding-top: 59px;
}
.li-item {
  color: #e5eaff99;
}
.li-item:hover {
  color: #fff;
}
.ul-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 40%;
}

/* audiences section styles */
.audiences {
  margin-bottom: 144px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audience-wrapper {
  background-color: #ccd4ff0d;
  max-width: 1296px;
  width: 95%;
  height: 848px;
  color: #e5eaff99;
}
